.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(174, 238, 229) 0%, rgb(4, 100, 79) 44%);
}

.countdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #001516;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 40%;
  margin-top: 20px;
}